:root {
  --bg-color: #f9f9f9;
  --text-color: #333;
  --nav-bg: #333;
  --nav-text: #fff;
  --hero-bg: #444;
  --card-bg: #fff;
  --footer-bg: #333;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color:palevioletred ;
  color: var(--text-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--nav-bg);
  color: var(--nav-text);
  padding: 15px 30px;
  margin-bottom: 20px;
}

nav h1 {
  margin: 0;
  padding: 2px;
  color: #007acc;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  
  margin: 0;
}

nav ul li a {
  color: var(--nav-text);
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 2rem;
  background: var(--hero-bg);
  color: #fff;
}

main {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}



.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.project-card {
  background: var(--card-bg);
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

footer {
  background: var(--footer-bg);
  color: #fff;
  text-align: center;
  padding: 1rem;
}

a {
  color: #007acc;
}

a:hover {
  text-decoration: underline;
}

#theme-toggle {
  padding: 0.5rem 1rem;
  border: none;
  background: #555;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

body.dark {
  --bg-color: #121212;
  --text-color: #f9f9f9;
  --nav-bg: #222;
  --nav-text: #fff;
  --hero-bg: #333;
  --card-bg: #1e1e1e;
  --footer-bg: #222;
}
#about,#projects,#contact{
       padding: 80px 10%;
       margin: 40px 0;
}
#about {
  background-color: plum;
  margin: 20px;
  border: 2px solid purple;
  border-radius: 3px;
}
.project-card{
  padding: 30px;
  margin: 20px 0;
}